<.flash_group flash={@flash} />

<div class="text-center py-10">
  <h1 class="text-3xl font-bold">Bem-vindo ao To-do List!</h1>
  <p class="mt-4">
    <.link navigate={~p"/tasks"} class="text-blue-500 underline">
      Clique aqui para ver suas tarefas
    </.link>
  </p>
</div>
